.mat-toolbar{
  background-color: #181c24;
  .title{
    color: white;
    font-family: serif;
    font-weight: 700;
  }
}
/*.toolbar-spacer {
    flex: 1 1 auto;
  }*/

.mat-icon-button{
  color: white;
  height: 100px;
  width: 50px;
}  

.grid-product-container{
  display: grid;
  grid-template-columns: 320px 320px 320px;
  padding: 10px;
  text-align: center;
}
.product{
  text-align: center;
  padding-bottom: 20px;
}
.product-img{
  height: 350px;
}