.mat-toolbar{
  background-color: #181c24;
  .title{
    color: white;
    font-family: serif;
    font-weight: 700;
  }
}
/*.toolbar-spacer {
    flex: 1 1 auto;
  }*/

.mat-icon-button{
  color: white;
  height: 100px;
  width: 50px;
}  